[init]
Description=get image part

[Service]
Type=simple
WorkingDirectory=/home/plam/get-image-part
ExecStart=/usr/bin/python3 ./get-image-part.py
Restart=always

[Install]
WantedBy=multi-user.target

